{
    "printWidth": 80,
    "overrides": [
        {
            "files": [
                "*.ts",
                "*.tsx"
            ],
            "options": {
                "parser": "typescript"
            }
        }
    ],
    "tabWidth": 2,
    "trailingComma": "all",
    "jsxBracketSameLine": false,
    "arrowParens": "always"
}